.search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    width: 75vw;
    padding: 10px 20px;
    border-radius: 999px;
    margin: 0 auto;
    max-width: 560px;
}

.search__input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    font-size: medium;
}
.search__input input:focus{
    outline-width: 0;
}
.search__inputIcon{
    color: gray;
}